<section class="servicesHome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="servicesHome-box">



                    <h2>Message From From Principal's desk</h2>
                    <h5>Sureshbhai Prajapati
                        <br>
                        <span>- Principal, Ambalal Balshala</span>
                    </h5>
                   
                    <!-- <a href="VCMsg.aspx?id=10037" class="btn btn-sm btn-outline-white mb-0">Read More</a> -->

                </div>
            </div>

            <div class="col-md-4">
                <div class="video-section">
                    <div class="video-content">
                        <img src="assets/images/principal.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="servicesHome-box">
                    <!-- <h2>VC Auction for Gift/ Mementos</h2> -->
                    <p>કર્તવ્ય નિષ્ઠા એ જ સંદેશ બાળકો,વાલી શાળા અને સંસ્થા પ્રત્યેની વફાદારી એ જ મારો ધ્યેય.
                        બાળકો સંસ્કાર,શિસ્ત અને શિક્ષણમાં પ્રગતિ કરે એ જ મારી અભ્યર્થના.
                    </p>
                    <!--<a href="http://vcgift.gtu.ac.in/" target="_blank" class="btn btn-sm btn-outline-white mb-0">Go to Portal</a>-->
                    <!-- <a href="http://www.test.gtu.ac.in/VC1/" target="_blank"
                        class="btn btn-sm btn-outline-white mb-0">Go to Portal</a> -->
                </div>
            </div>
        </div>
    </div>
</section>